<meta charset="UTF-8">
<title>Instagram Photo App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">

